.paper {
    padding: 100px 110px;
}
body {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/pinkheart.jpg');
    background-size: 1500px;
    background-position: center center;
}
.paper {
    
    position: absolute; 
    background-size: 225px;
    background-position: center center;
    box-shadow: 1px 15px 20px 0px rgba(0, 0, 0, 0.5);

}



